:host {
  display: block;
  margin: 0 10%;
  min-width: 90vw;
  height: 100vh;
  padding: 0 15px;
}

.table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;

  tr, td, th {
    border: 1px solid pink;
  }

  &__header {
    text-align: center;
  }

  &__cell {
    height: 35px;
    min-width: 130px;
    align-content: center;
    text-align: center;

    input {
      width: 25px
    }

    &--active{
      background-color: green;
    }

    &.ng-invalid {
      background-color: palevioletred;
    }
  }
}

.input--short {
  max-width: 200px;
}

.form-control {
  display: inline-flex;
  padding: 0 0;
  &--centered {
    padding-left: 7px;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
}

.tape {
  overflow: auto;
  margin-bottom: 10px;
}

.original-tape-container {
  display: flex;
  position: relative;
  padding-bottom: 10px;
  transition: all;
}

.tape-cell {
  width: 35px;
  height: 35px;
  border: 1px solid dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.pointer {
  position: absolute;
  left: 10px;
  top: 35px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  transition: all 0.5s;
}

.reversed-tape {
  display: flex;
  flex-direction: row-reverse;
}




