<app-header></app-header>

<form [formGroup]="turingMachinePropertiesForm" class="row mb-2">
  <div class="input-short">
    <label for="allowed-symbols">Allowed symbols</label>
    <input id="allowed-symbols" formControlName="allowedSymbols" class="form-control data-input" placeholder="Allowed symbols"/>
  </div>
  <div class="input-short ml-5">
    <label for="allowed-symbols">Number of states</label>
    <input id="number-of-states" type="number" formControlName="numberOfStates" class="form-control data-input"
           placeholder="Number of states"/>
  </div>
</form>


<div class="row" *ngIf="turingMachinePropertiesForm.valid && tableOfStatesForm; else badProperties">
  <table class="table" [formGroup]="tableOfStatesForm">
    <tr>
      <th>/</th>
      <th *ngFor="let stateNumber of this.turingMachinePropertiesForm.value.numberOfStates | range;" class="table__header">q{{stateNumber}}</th>
    </tr>
    <tr *ngFor="let characterForm of tableOfStatesForm.controls | keyvalue" [formGroup]="characterForm.value">
      <th class="table__header">
        {{ characterForm.key }}
      </th>
      <td *ngFor="let stateForm of characterForm.value.controls" [formGroup]="stateForm"
          class="table__cell"
          [ngClass]="{'table__cell--active': stateForm.value.current}">
        <input type="text" formControlName="nextState" class="form-control text-input" appInputResize>
        /
        <input type="text" formControlName="symbol" class="form-control text-input form-control--centered" appInputResize>
        /
        <input type="text" formControlName="direction" class="form-control text-input form-control--centered" appInputResize>
      </td>
    </tr>
  </table>
</div>

<ng-template #badProperties>
  <div class="my-lg-5">
    <h2>Table of states should contain at least 2 allowed symbols (excluding empty symbol #) and 2 states</h2>

  </div>
</ng-template>

<ng-container *ngIf="tableOfStatesForm.valid && turingMachinePropertiesForm.valid">
  <div class="row mt-1" [formGroup]="tapeForm">
    <div>
      <label for="tapeSymbols">Starting tape value</label>
      <input id="tapeSymbols" class="form-control input--short" formControlName="tape"/>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="tableOfStatesForm.valid && turingMachinePropertiesForm.valid && tapeForm.valid">

  <div class="row tape mt-2">
    <div class="reversed-tape">
      <div class="tape-cell" *ngFor="let leftSymbol of leftAddedSymbols">
        {{leftSymbol}}
      </div>
    </div>

    <div class="original-tape-container">
      <div *ngFor="let symbol of tapeValue" class=" tape-cell">
        {{symbol}}
      </div>
      <div class="pointer" [ngStyle]="{transform: 'translate(' + (tapeIndex * 35) +'px)'}">
      </div>
    </div>


    <div class="right-tape-container">
      <div class="tape-cell" *ngFor="let rightSymbol of rightAddedSymbols">
        {{rightSymbol}}
      </div>
    </div>

  </div>
  <div class="row mt-3">
    <button class="btn btn-info" (click)="goToNextState()"
            [disabled]="isEnd || tableOfStatesForm.invalid || tapeForm.invalid || turingMachinePropertiesForm.invalid">
      Next
    </button>

    <button class="btn btn-danger ml-5" (click)="resetForms()">
      Reset
    </button>
  </div>
</ng-container>


<div class="row mt-3">
  <select name="predefinedMT" id="predefinedMT" [(ngModel)]="predefinedString">
    <option value="none"> None</option>
    <option value="palindrom">Palindrom</option>
    <option value="ZU2">ZU2</option>
  </select>
  <button class="btn btn-dark ml-2" (click)="selectPredefined()">Select predefined</button>
</div>


